html {
  height:calc(100vh);
  font-size: 0.9rem;
}

body {
  background-color: #ededed;
}

li {
  display:inline;
}

ul {
  list-style-type:none;
}

a, a:hover {
  text-decoration: none;
}

.menuLeft {
  width: 14%!important;
  background-color:#02485c;
}

.menuLeft .divLogo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45px;
  width: 100%;
  border-bottom: 2px solid #24c0eb;
}

.menuTop {
  height: 45px;
  background-color: #16738d;
}

.btnSair {
  width: 80px; 
}

.btnSair:hover {
  background-color: #02485c;
  transition: 0.3s;
}

.nav-item {
  border-bottom: 1px solid #013442;
}

.nav-item:hover {
  background-color: #013442;
  transition: 0.3s;
}

.navbar-nav #limenuP {
  height: 20px;
  background-color: #013442;
  color: #00242e;
  padding-left: 10px;
}

.divFormMain .divContent, 
.divCatMain .divContent,
.divHomeMain .divContent {
  box-shadow: 0px 5px 10px 5px #d9d9d9;
}

.divHomeMain .divContent {
  justify-content: space-evenly;
}

.divHomeMain .divContent .cardHome {
  background-color: #327587;
}

.divFormMain .divContent h1 {
  font-size: 2rem;
  color: #212529;
}

form .form-group .required {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form .form-group .required label {
  margin-bottom: 5px;
  font-weight: 600;
}

form .form-group .required input {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  border-radius: 4px;
}

.divCatMain .divContent h1 {
  font-size: 1.3rem;
}

.divCatMain .divContent .list-group-item p {
  font-weight: normal;
  margin-bottom: .5rem;
}

